* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
h1 {
  text-align: center;
  padding: 2rem;
  background-color: antiquewhite;
}

.container {
  border-radius: 20px;
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
}
.inputbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  padding: 2rem;
}
.inputbox input {
  font-size: 1.5rem;
  width: 30%;
  margin: 2rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  transition: all 0.2s;
}
.inputbox input:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.buttonbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -40px;
}
.buttonbox button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  background-color: rgb(207, 207, 207);
  cursor: pointer;
  transition: all 0.3s;
}
.buttonbox button:hover {
  background-color: rgb(201, 243, 195);
}
.resultbox {
  background-color: rgb(179, 183, 183);
  max-height: fit-content;
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 10px;
  outline: 2px solid rgba(0, 0, 0, 0.8);
}
.resultbox p {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
.resultbox .roundText {
  font-size: 1.3rem;
  margin-top: -30px;
}
.restartButton {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  background-color: rgb(207, 207, 207);
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  margin: 0 auto 0 auto;
  display: none;
}
.restartButton:hover {
  background-color: rgb(238, 212, 157);
}
.submitButton {
  display: block;
}

@media screen and (max-width: 992px) {
  .inputbox input {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .resultbox p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .resultbox p {
    font-size: 1rem;
  }
  .label {
    font-size: 1.5rem;
  }
}

