/* Reset Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: rgb(30, 30, 30);
}

h1 {
  text-align: center;
  color: aliceblue;
  padding: 2rem;
}
.startButton {
  display: block;
  margin: 0 auto;
  border-radius: 0.7rem;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.5s;
}
.finish {
  display: none;
}
.startButton:hover {
  background-color: aquamarine;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
/* Main Quiz Application */
/* Container 1 consists only the current quesion number and the timer */
.container {
  display: none;
  background-color: white;
  padding: 1rem;
  max-width: 60rem;
  max-height: fit-content;
  margin: auto;
  border-radius: 1.5rem;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.timer {
  background-color: black;
  color: white;
  display: flex;
  padding: 0.5rem;
  border-radius: 1.2rem;
}
.timer i {
  margin: 4px 10px 0 0;
}
/* container 2 consists the main question */
.container2 {
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  font-weight: 500;
  max-height: 10rem;
  overflow-y: auto;
}
/* this is the options layout */
.choiceBox {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 1.2rem;
  padding: 1rem;
}

.choice {
  font-size: 1.2rem;
  border: 0.1rem solid rgb(194, 194, 194);
  border-radius: 0.4rem;
  margin: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.choice:hover {
  background-color: black;
  color: white;
}
/* this section consists the reset and next button and the page no */
.extraBox {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.extraBox button {
  border-radius: 0.7rem;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.5s;
}
.nextPage {
  display: none;
}
.nextPage:hover {
  background-color: aquamarine;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.resetButton:hover {
  font-size: 1.2rem;
  background-color: red;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.scoreBoard {
  display: none;
  background-color: white;
  font-size: 1.5rem;
  padding: 3rem;
  max-width: fit-content;
  max-height: fit-content;
  margin: auto;
  border-radius: 1.5rem;
}
