/* Reset Code */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Segoe UI", "sans-serif";
}

/* Background */

body {
  background-color: rgb(200, 200, 200);
}
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

/* Weather */

.container {
  max-width: 600px;
  background-color: rgb(125, 172, 173);
  width: 80%;
  margin: 100px auto 0;
  border-radius: 18px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

/* Input Section */

.inputContainer {
  padding: 1rem;
  display: flex;
}
.inputBox {
  margin: 0 1rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  transition: all 0.5s;
  font-size: 1rem;
}
.inputBox:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.inputContainer button {
  width: 5rem;
  border-radius: 1.5rem;
  border: none;
  background-color: rgb(241, 201, 126);
  cursor: pointer;
  transition: all 0.4s;
}
/* search Icon */
.inputContainer button i {
  font-size: 1.5rem;
}
.inputContainer button:hover {
  background-color: greenyellow;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
/* Location Icon */
.inputContainer i {
  font-size: 2rem;
  margin: 0.5rem auto;
}

/* Weather Section */

.details1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details1 p {
  line-height: 2.8rem;
  font-size: 25px;
}

.details2 {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.humidityBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.windBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Error Section */

.errorBox {
  font-size: 4rem;
  text-align: center;
}
.details1,
.details2 {
  display: none;
}

/* Responsive Section */

/* For Phones */
@media (max-width: 480px) {
  .inputContainer {
    padding: 0px;
    margin: 0;
  }

  .inputBox {
    width: 10rem;
    padding: 0;
    font-size: 1rem;
    height: 3rem;
    text-align: center;
  }
  .inputContainer button {
    padding: 0;
  }

  .inputContainer button i {
    font-size: 1.2rem;
  }

  .inputBox::placeholder {
    text-align: center;
  }

  .errorBox {
    margin: 10px auto;
    font-size: 2rem;
  }
}
