* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 23%;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  display: inline-block;
  transition: ease-in-out 0.3s;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  background-color: rgb(211, 247, 231);
}
.card-pic {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(36, 34, 34, 0.815);
}

.card-desc {
  font-size: 0.8rem;
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(36, 34, 34, 0.815);
}

.student {
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid rgb(128, 126, 126);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  font-size: 2rem;
  line-height: 3rem;
  display: inline-block;
}
